.btprime__about__content {
  max-width: 90%;
  display: grid;
  grid-template-columns: 40% 58%;
  gap: 2%;
  margin: 0 auto;
  padding: 2%;
}

#btprime__about h2 {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  font-size: 60px;
  padding: 2%;
}

.btprime__about__img img {
  width: 100%;
  border-radius: 20px;
}

.btprime__about__img__border {
  padding: 1%;
  border: 4px solid yellow;
  border-radius: 20px;
}

.btprime__about__text h3 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 23px;
}

/*Responsividade da página até 414px*/

@media (max-width: 414px) {
  .btprime__about__img img {
    display: none;
  }

  .btprime__about__img__border {
    display: none;
  }
  .btprime__about__content {
    display: block;
  }

  .btprime__about__text h3 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
  }
}

@media (min-width: 415px) and (max-width: 768px) {
  .btprime__about__content {
    display: flex;
    flex-direction: column-reverse;
  }

  #btprime__about h2 {
    font-size: 50px;
  }

  .btprime__about__text h3 {
    font-size: 18px;
    margin-top: 3%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .btprime__about__content {
    display: flex;
    flex-direction: column-reverse;
  }
}
